search:
	-
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
	- App\Router\RouterFactory::createRouter
	- App\Services\Users\EmployeesService
	- App\Presenters\EmployeesPresenter
	- App\Services\Xml\EmployeesXmlStorage
	- App\Services\Users\EmployeesAttributesService

http:
	headers:
		Access-Control-Allow-Origin: '*'
